{% extends "django_oobs/base.html" %}
{% block content %}
    <body>
    <main role="main" class="container" >
      <div class="col-md-12" >
            <br>
            <h1>To-Do Tracker</h1>
            <p>

                &#x2022; Overlay individual instrument line plots over gridded temperature<br>
                &#x2022; Download NetCDF for selected mooring/data button<br>
                &#x2022; Include temperature locations<br>
                &#x2022; Include velocity data<br>
                &#x2022; z axis colour slider<br>

            </p>
      </div>

    </main>
    </body>

{% endblock content %}